
<% if request.fullpath =~ Regexp.new('/session') %>
  <% action_url = session_url %>
  <% button_val = 'Log me in' %>
  <% h1_val = 'Log into 99 Cats' %>
<% elsif request.fullpath =~ Regexp.new('/users') %>
  <% action_url = users_url %>
  <% button_val = 'Sign me up' %>
  <% h1_val = 'Sign up for 99 Cats' %>
<% end %>

<h1><%= h1_val %></h1>

<ul>
  <% (flash.now[:errors] || []).each do |error| %>
    <li><%= error %></li>
  <% end %>
</ul>

<form action="<%= action_url %>" method="post">

  <label for="username">Username</label>
  <input id="username" type="text" name="user[username]">
  <br>
  <label for="password">Password (must be at least 6 characters)</label>
  <input id="password" type="password" name="user[password]">

  <input type="submit" value="<%= button_val %>">
</form>
